<button mat-raised-button color="primary" [routerLink]="['/projects/setting/epics/add']">Add Epic</button>


<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let element of dataSource">
      <td>{{element.id}}</td>
      <td>{{element.name}}</td>
      <td>{{element.createdAt}}</td>
      <td>
        <div class="buttons">
          <button class="button-primary" [routerLink]="['/projects/setting/issue-types/edit', element.id]">Edit</button>
          <button class="button-warn" (click)="deleteEpic(element.id)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ngx-spinner  color="#1098ad" size="large" style="color: #1098ad;" bdColor="none" type="square-jelly-box">
  <p class="loading">Please Wait...</p>
</ngx-spinner>
