form {
    min-width: 350px;
    background-color: #A9A9A9;
    width: 400px;
    height: 500px;
    margin: auto;
    border-radius: 5%;
    padding: 7% 10%;

    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }

    .example-full-width {
        width: 100%;
    }

    button {
        background-color: #7ED957;
        margin-top: 30px;
    }

    button:disabled {
        background-color: gray;
    }

    h1 {
        text-align: center;
        color: #edeff1;
        font-size: 35px;
        line-height: 40px;

    }


}