<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Update Your Password</h1>
    <mat-form-field class="example-full-width">
        <mat-label>Current Password:</mat-label>
        <input type="password" matInput formControlName="oldPassword">
        <mat-error *ngIf="form.controls['oldPassword'].hasError('required')">
            <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>New Password:</mat-label>
        <input type="password" matInput formControlName="newPassword">
        <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Confirm Password:</mat-label>
        <input type="password" matInput formControlName="checkPassword">
        <mat-error *ngIf="form.controls['checkPassword'].hasError('required')">
            <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.errors?.['passwordMismatch']">
            <strong>Passwords do not match</strong>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="!form.valid">Submit</button>
</form>